body {
    background-color: #f5deb3;
    color: black;
    font-size: 14px;
    font-family: Arial, serif;
}

hr {
    color: black;
}

a { /* общие настройки ссылки */
    color: black;
    text-decoration: none;
}

a:visited { /* посещенная ссылка */
    color: grey; /* цвет посещенной ссылки */
    text-decoration: line-through; /* после посещения ссылка зачеркивается */
}

a:active { /* активная ссылка */
    color: black; /* цвет активной ссылки */
    text-decoration: underline; /* при активации ссылка подчеркивается */
}

a:hover { /* ссылка при наведении на нее мыши */
    background: white; /* фон ссылки становится белым при наведении */
}


.set-to-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
